[main]
children = dev
destroyable = false
merge-mode = no-ff

[dev]
children = group:work, group:prototype
destroyable = false
merge-mode = squash

[group:work]
name-allow = feat/*, fix/*, refactor/*, perf/*, docs/*, test/*, chore/*
children = group:prototype
merge-mode = squash
ephemeral = true

[group:prototype]
name-allow = prototype/*
